body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}


h1 {
    font-size: 90px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #66BFBF;
}

h2 { 
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;

}

.top-container {
    position: relative;
    padding-top: 105px;
    background-color: #0d3d3d;
}

.pro {
    text-decoration:underline;
}

.top-cloud {
    position: absolute;
    left: 440px;
    top: 49px;
    color: #C47AFF;

}

.bottom-cloud {
    position: absolute;
    color: #5B1AFFF;

}

.footer-link {
   color: #11999E;
}

.btn {
    color: #11999E;
}
