body {
    font-display: swap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Menlo", "Meslo LG", monospace;
     margin: 0;
    text-align: center

}


h1 {
    font-size: 90px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #66BFBF;
}

h2 { 
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;

}

.top-container {
    position: relative;
    padding-top: 105px;
    background-color: #0d3d3d;
}

.middle-container {
    background-color: #DAEAF1

}

.pro {
    text-decoration:underline;
}

.top-cloud {
    position: absolute;
    left: 440px;
    top: 49px;
    color: #7978FF;

}

.bottom-cloud {
    position: absolute;
    color:#D800A6;

}

.terminal-screen-pic {
    color: #00FFAB

}

.footer-link {
   color: #11999E;
}

.btn {
    color: #11999E;
}
